@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
    --textcolor:              #2f3136;
    --accentcolor:            rgb(144, 255, 41);
    --accentsecondrycolor:    rgb(14, 211, 185);
    --errorcolor:             red;
    --transitiontime:           0.5s;
    --borderradius:             20px;
    /* Advanced settings */
    --homecolor1:             rgb(144, 255, 41);
    --homecolor2:             rgb(14, 211, 185);
    --hometransitiontime:       0.5s;
    --hometextcolor:            var(--accentcolor);
    --homeanimation:            rotate(360deg);
    --channelheight:            30px;
    /* Settings Modal */
    --settingsmodalbackground: 	transparent;
	--settingsmodalwidth: 		960px;
	--settingsmodalheight: 		80vh;
}


/* Home */

.wrapper-3kah-n .childWrapper-1j_1ub {
    border-radius: 100%;
    transition: var(--hometransitiontime);
}

.wrapper-3kah-n .childWrapper-1j_1ub:hover {
    transform: var(--homeanimation);
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background: linear-gradient(var(--homecolor1), var(--homecolor2));
    color: var(--hometextcolor);
}

/* Explor + Add server */

div[data-list-item-id="guildsnav___create-join-button"],
div[data-list-item-id="guildsnav___guild-discover-button"] {
    transition: var(--hometransitiontime) ease;
    background-color: var(--textcolor) !important;
    color: var(--accentcolor) !important;
    border-radius: 100%;
}

div[data-list-item-id="guildsnav___create-join-button"]:hover,
div[data-list-item-id="guildsnav___guild-discover-button"]:hover {
    background-color: rgba(255, 255, 255, 0.116) !important;
    transform: rotate(90deg);
    border-radius: var(--borderradius);
}

/* Remove Big Nitro Button */

[href="/store"] {
    display: none;
}


/* Put Better Discord stuff at the top */

.bd-sidebar-header,
[aria-controls="settings-tab"],
[aria-controls="emotes-tab"],
[aria-controls="customcss-tab"],
[aria-controls="plugins-tab"],
[aria-controls="themes-tab"],
[aria-controls="themes-tab"]+.separator-2wx7h6,
[aria-controls="pluginrepo-tab"],
[aria-controls="pluginrepo-tab"]+.separator-2wx7h6,
[aria-controls="themerepo-tab"]+.separator-2wx7h6,
[aria-controls="themerepo-tab"] {
    order: -1;
}


/* Screen sharing, Camera */

.button-1EGGcP {
    box-shadow: inset 0 0 0 0 var(--accentsecondrycolor);
    transition: color var(--transitiontime) ease-in-out, box-shadow var(--transitiontime) ease-in-out;
}

.button-1EGGcP.buttonActive-Uc1jHx {
    background: var(--accentcolor) !important;
    color: var(--textcolor) !important;
    box-shadow: inset 0 0 0 0 var(--accentsecondrycolor);
    transition: color var(--transitiontime) ease-in-out, box-shadow var(--transitiontime) ease-in-out;
}

.button-1EGGcP:hover {
    box-shadow: inset 150px 0 0 0 var(--accentsecondrycolor);
    color: var(--textcolor);
}

/* Disconnect, Stop Streaming, Krisp ...*/

.button-12Fmur {
    transition: var(--transitiontime);
}

.button-12Fmur:hover {
    color: var(--errorcolor) !important;
}

/* Settings */

.item-3XjbnG.themed-2-lozF {
    opacity: 70%;
    color: white;
    transition: var(--transitiontime);
    border-radius: var(--borderradius);
    max-height: 29px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-3XjbnG.themed-2-lozF:hover {
    box-shadow: 0 1px 0 0 var(--accentcolor);
}

.item-3XjbnG.themed-2-lozF.selected-g-kMVV {
    background: linear-gradient(130deg, var(--accentcolor) 0%, var(--accentsecondrycolor) 100%) !important;
    color: var(--textcolor) !important;
}

/* Channels */

.content-1gYQeQ {
    transition: var(--transitiontime);
    border-radius: var(--borderradius);
    max-height: var(--channelheight);
}

.content-1gYQeQ:hover {
    box-shadow: 0 1px 0 0 var(--accentcolor);
}

/* Live, Bars, Public */

.live-1V2D-f, .barFill-2Bh7CX, #bd-pub-button:hover {
    background: linear-gradient(130deg, var(--accentcolor) 0%, var(--accentsecondrycolor) 100%) !important;
    color: var(--textcolor);
}

/* Settings modal */

#app-mount .baseLayer-W6S8cY {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer-86YKbF.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer-86YKbF ~ .layer-86YKbF {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF > div,
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .contentColumnDefault-3eyv5o {
	padding: 20px 40px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-3K3Z4C {
	height: var(--settingsmodalheight) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH {
	max-width: calc(var(--settingsmodalwidth) - 256px) !important;;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .tools-kIrEGr,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .container-O54IuJ,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .settingsToolbar-wu4yfQ {
	display: none !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .header-2Kx1US {
	max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root-2zfUH6 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root-2zfUH6.enterDone-menWZ8 {
	transform: unset !important;
}
#app-mount .perksModal-CLcR1c {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}
#app-mount .perksModal-CLcR1c::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}
#app-mount .perksModalContentWrapper-3RHugb {
	padding: 10px 0 10px !important;
}
#app-mount .root-2zfUH6 .perksModal-CLcR1c .carousel-3dvee9 {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .container-O54IuJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}